<div fxLayout="row" fxLayoutGap="5%" fxLayoutAlign="center">
  <button mat-stroked-button color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-stroked-button color="primary" routerLink="/clientList">
    <mat-icon>list</mat-icon>
    <span>List</span>
  </button>
  <button mat-stroked-button color="primary" routerLink="/add">
    <mat-icon>person_add</mat-icon>
    <span>Add New Client</span>
  </button>
  <button *ngIf="selectedIndex !== -1" mat-stroked-button color="primary" (click)="delete()">
    <mat-icon>perm_identity</mat-icon>
    Delete
  </button>
  <button *ngIf="selectedIndex !== -1" mat-stroked-button color="primary" routerLink="/edit">
    <mat-icon>assignment_ind</mat-icon>
    Edit
  </button>
</div>
<br>
