body > app-root > app-test-menu > div > button:nth-child(1) > span > mat-icon {
  align-items: flex-start;
  text-align: left;
}

body > app-root > app-test-menu > div > button:nth-child(1) .label {
  align-content: flex-start;
  text-align: left;
}

body > app-root > app-test-menu > div > button:nth-child(2) > span > mat-icon  {
  align-content: flex-start;
  text-align: left;
}
